#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.board-area {
  position: relative;
  width: fit-content;
  margin: 1rem auto;
}

.side-piles {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.side-piles.right {
  left: calc(100% + 2rem);
}

.side-piles.left {
  right: calc(100% + 2rem);
}

.initial-card {
  position: absolute;
  top: 0;
}

.initial-card.left {
  right: calc(100% + 2rem);
}

.initial-card.right {
  left: calc(100% + 2rem);
}

.hand-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 0;
  width: 300px;
}

.hand-panel.left {
  right: calc(100% + 2rem);
  align-items: flex-start;
}

.hand-panel.right {
  left: calc(100% + 2rem);
  align-items: flex-end;
}

.dev-toggle-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}

.dev-panel {
  position: fixed;
  border: 2px dashed #f00;
  padding: 1rem;
  background-color: rgba(97, 97, 100, 0.85);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  cursor: move;
}

.dev-panel .add-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.victory-panel {
  position: fixed;
  border: 2px solid #4caf50;
  padding: 1rem;
  background-color: rgba(97, 97, 100, 0.85);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  cursor: move;
}
